

<h2>New book</h2>
<%= form_for(@book) do |f| %>

<h4>Title</h4>
<p><%= f.text_field :title, :size => "32px" %></p>
<h4>Opinion</h4>
<p><%= f.text_area :body, :size => "34px" %><p>

<p><%= f.submit 'Create Book', class: "btn btn-info btn-block" %></p>

<% end %>